body {
	width: 100%;
}
.container {
	width: 100%;
}
.col-md-12 {
	float: left;
    width: 100%;
}
.col-md-11 {
	float: left;
    width: 91.66666667%;
}
.col-md-10 {
	float: left;
    width: 83.33333333%;
}
.col-md-9 {
	float: left;
    width: 75%;
}
.col-md-8 {
	float: left;
    width: 66.66666667%;
}
.col-md-7 {
	float: left;
    width: 58.33333333%;
}
.col-md-6 {
	float: left;
    width: 50%;
}
.col-md-5 {
	float: left;
    width: 41.66666667%;
}
.col-md-4 {
	float: left;
    width: 33.33333333%;
}
.col-md-3 {
	float: left;
    width: 25%;
}
.col-md-2 {
	float: left;
    width: 16.66666667%;
}
.col-md-1 {
	float: left;
    width: 8.33333333%;
}
